#datepicker1 {
    z-index: 1000;
}

.relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
    z-index: 10;
  }
  
  .hidden {
    display: none;
  }
  
  .relative:hover .hidden {
    display: block;
  }
  